extends layout
block content
  h1 Restful API by malchemist
  h2 time Microservice
  p.red  Example Usage
  code localhost:3000/Febuary 17, 2017
  br
  code localhost:3000/13665434533

  p.red Expected Output in JSON
  code {"unix": 13665434533, "natural": Febuary 17, 2017}
