extends layout
block content
  FCC-Timestamp API by malchemist
  h2 Time Microservice
  p.red  Example Usage
  code localhost:3000/Febuary 17, 2017
  br
  code localhost:3000/13665434533

  p.red Expected Output in JSON
  code {"unix": 1366543453, "natural": "April 21, 2013"}
